BasedOnStyle: Webkit
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
InsertBraces: false
AlignTrailingComments: Always
MaxEmptyLinesToKeep: 1
SortIncludes: Never
NamespaceIndentation: All
AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
ContinuationIndentWidth: 0
